# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}

{% if schema.description %}{{ schema.description }}{% endif %}

URI: {{ schema.id }}

Name: {{ schema.name }}

{% if include_top_level_diagram %}

## Schema Diagram

```{{ gen.mermaid_directive() }}
{{ gen.mermaid_diagram() }}
```
{% endif %}

## Classes

{% for u, v in gen.class_hierarchy_as_tuples() %}
{{ gen.link(schemaview.get_class(v)) }}<br />
{{ schemaview.get_class(v).description }}
{% if schemaview.get_class(v).comments %}
| Implementation Details |
| --- |
{% for x in schemaview.get_class(v).comments -%}
| {{x}} |
{% endfor %}
{% endif %}
{% endfor %}


{% for u, v in gen.class_hierarchy_as_tuples() %}
{{ gen.link(schemaview.get_class(v)) }}<br />
{{ schemaview.get_class(v).description }}
{% if schemaview.get_class(v).comments %}
{% for x in schemaview.get_class(v).comments -%}
* {{x}}
{% endfor %}
{% endif %}
{% endfor %}


{% for u, v in gen.class_hierarchy_as_tuples() %}
{{ gen.link(schemaview.get_class(v)) }}<br />
{{ schemaview.get_class(v).description }}
{% if schemaview.get_class(v).comments %}
<details>
<summary>Implementation Details</summary>
{% for x in schemaview.get_class(v).comments -%}
* {{x}}<br />
{% endfor %}
</details>
{% endif %}
{% endfor %}

| Class | Description | Comments |
| --- | --- | --- |
{% if gen.hierarchical_class_view -%}
{% for u, v in gen.class_hierarchy_as_tuples() -%}
| {{ "&nbsp;"|safe*u*8 }}{{ gen.link(schemaview.get_class(v)) }} | {{ schemaview.get_class(v).description }} | {{ schemaview.get_class(v).comments }} |
{% endfor %}
{% else -%}
{% for c in gen.all_class_objects()|sort(attribute=sort_by) -%}
| {{gen.link(c)}} | {{c.description}} |
{% endfor %}
{% endif %}

## Slots

{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
{{gen.link(s)}}<br />
{{s.description|enshorten}}
{% if s.comments %}
| Implementation Details |
| --- |
{% for x in s.comments -%}
| {{x}} |
{% endfor %}
{% endif %}
{% endfor %}

{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
{{gen.link(s)}}<br />
{{s.description}}
{% if s.comments %}
{% for x in s.comments -%}
* {{x}}
{% endfor %}
{% endif %}
{% endfor %}

| Slot | Description |
| --- | --- |
{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
| {{gen.link(s)}} | {{s.description|enshorten}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in gen.all_enum_objects()|sort(attribute=sort_by) -%}
| {{gen.link(e)}} | {{e.description|enshorten}} |
{% endfor %}

## Types

| Type | Description |
| --- | --- |
{% for t in gen.all_type_objects()|sort(attribute=sort_by) -%}
| {{gen.link(t)}} | {{t.description|enshorten}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description|enshorten}} |
{% endfor %}
